.nav-bar ul {
    background-color: rgb(20, 20, 20);
    padding: 10px;
}

.nav-bar li {
    display: inline;
    margin-right: 5%;
    padding: 5px;
    border-left: 1px solid mediumturquoise;
    border-bottom: 1px solid mediumturquoise;
}

/* TODO: add login link
.nav-bar li:last-child {
    margin-left: 75%;
    padding: 5px;
    border: #f0f0f0 1px solid;
    border-radius: 5px;
}
*/
.nav-bar a {
    text-decoration: none;
    color: white;
}

.nav-bar a:hover {
    position: relative;
    top: -3px;
    left: 3px;
    padding: 1px;
    background-color: wheat;
    color: black;
}
